<%# FILNOTAT: error.ejs. GJOR: View-template for brukergrensesnitt. SNAKKER MED: ruter i src/routes og data sendt fra serveren. %>

<%- include('../partials/header') %>
<h1><%= title %></h1>
<p><%= message %></p>
<%- include('../partials/footer') %>
